html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}

/* ヘッダー */
.header{
    width: 100vw;
    height: 64px;
    border-bottom: solid 1px #9b9b9b;
    background-color: lightgray;
}
.header-container{
    position: relative;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header-container__title{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1rem;
    line-height: 1rem;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    color: #000;
}

/* フッター */
.footer{
    width: 100vw;
    height: 64px;
}
.footer-container{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 64px;
    text-align: center;
    border-top: solid 1px #9b9b9b;
    background-color: lightgray;
}
.footer-container__item{
    display: flex;
    position: relative;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #9b9b9b;
}
.footer-item__link{
    width: 90%;
    height: 100%;
    margin: auto;
    text-decoration: none;
}
.footer-item__icon{
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.2rem;
}
.footer-item__text{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 0.8rem;
    font-size: 0.8rem;
    color: #000;
}

.icon {
    border-radius: 100%;
    width: 14vw;
    height: 14vw;
    padding-top: 0.5vw;
    display: inline-block;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box {
    height: 15vw;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    text-decoration: none;
}

.name {
    padding-left: 3vw;
    margin-top: 0;
    vertical-align: top;
    color: black;
    font-weight: bold;
}