header {
    font-size: 5vw;
    text-align: center;
    display:block;
    height: 6vh;
    padding-top: 2vh;
    border-bottom: 2px solid;
}

table {
    margin: auto;
    font-size: 3vw;
}

label {
    font-size: 3vw;
}

button {
    padding: 1vw;
    width: 15vw;
    font-size: 130%;
    background-color: white;
    border-radius: 1.5vw;
    font-weight: bold;
    border: 2px solid gray;
    margin-bottom: 1vh;
}

form {
    text-align: center;
}

input {
    width: 25vw;
    height: 2vh;
    border: 1px solid;
    font-size: 1.5vh;
}


#id_img {
    border: none;
    font-size: 2vw;
    width: 35vw;
}

.helptext {
    display: none;
}

th {
    width: 25vw;
    text-align: right;
}

td {
    width: 30vw;
    text-align: left;
}

.errorlist {
    list-style: none;
    font-size: 1.3vh;
    font-weight: bold;
}
ul {
    margin: 0;
}