<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>signup</title>
        <link rel="stylesheet" type="text/css" href="../../static/myapp/css/signup.css" />
    </head>
    <body>
        <header>会員登録</header>
    </body>
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <table>
            {{ form.as_table }}
            {% if field.errors %}
              {% for error in field.errors %}
                <p> {{ error }}</p>
                {% endfor %}
            {% endif %}
        </table>
        <button type="submit">submit</button>
    </form>
</html>