<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>signup</title>
        <link rel="stylesheet" type="text/css" href="../../static/myapp/css/signup.css" />
    </head>
    <body>
        <header>会員登録</header>
    </body>
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        {% for field in form %}
            <table>
                <th>{{ field.label_tag }}</th> <td>{{ field }}</td>
            </table>
        {% endfor %}
        <br><button type="submit">submit</button>
        {% for field in form %}
            <div>{{ field.errors }}</div>
        {% endfor %}
    </form>
</html>