{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/talk_room.css' %}" />
    {% block extra_style %}{% endblock %}
    <title>DeMiAインターン</title>
</head>
<body>
    {% block header %}
    <header class="header">  
        <div class="header-container">
            <span class="header-container__title">
                {% block header-title %} 
                    <a href="{% url 'friends' %}"><button type="submit" class="back"><</button></a>
                    {{ friend.username }} 
                    <a href="{% url 'talk_room' friend.id %}"><button type="submit" class="reload">更新</button></a>
                {% endblock %}
            </span>
        </div>
    </header>
    {% endblock %}

    {% block content %}
        <div class="content">
            {% for i in messages %}
                {% if i.sender == friend %}
                    <div class="friend">
                        >{{ i.sender }} 
                        <div class="message"> 
                            {{ i.message }} 
                        </div>
                        <div class="time">
                            {{ i.date_send | date:'m/d' }} <br>
                            {{ i.date_send | date:'H:i' }}
                        </div>
                    </div>
                {% else %}
                    <div class="me">
                        >{{ i.sender }} 
                        <div class="message"> 
                            {{ i.message }} 
                        </div>
                        <div class="time">
                            {{ i.date_send | date:'m/d' }} <br>
                            {{ i.date_send | date:'H:i' }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="space"></div>
        </div>
    {% endblock %}

    <footer>
        <form method="POST">
            {% csrf_token %}
            <div class="message">
                {{ form.message }}
                <button type="submit" class="send_message">送信</button>
            </div>
        </form>
    </footer>

</body>
</html>
